/*empieza el reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
  
}



/*termina el reset*/

/*fuentes*/

.roboto-condensed-400{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-condensed-800{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

/*comienza el css de la pagina*/

/*album cover no lo puedo cambiar porque esta vinculado al js*/

.album-cover{
    height: 400px;
}
/*FONDO DE LAS PAGINAS*/

body#home{
    background: url(../images/back-home.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
}

body#hmhas{
    background: url(../images/back.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

body#clancy{
    background: url(../images/back-clancy.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
}

body#wings{
    background: url(../images/back.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
}

/*canciones*/
.cancionesalb1 {
    margin-top: 0.5em;
    width: 70%;
}

.cancionesalb1:hover {
    width: 70%;
}

.cancion1 h5{
    color: #ffffff77; 
}

.cancion1-nombre{
    margin-right: 1em;
}

.cancion1{/*clase del div*/
    color: #F4F4F4;
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
}

.cancion1:hover{
    border-radius: 0.2em;
    color: #0C121A;
    background-color: #f4f4f43c;
}
/*album 2*/
.cancionesalb2 {
    margin-top: 0.5em;
    width: 70%;
}

.cancionesalb2:hover {
    width: 70%;
}

.cancion2 h5{
    color: #ffffff77; 
}

.cancion2-nombre{
    margin-right: 1em;
}

.cancion2{/*clase del div*/
    color: #F4F4F4;
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
}

.cancion2:hover{
    border-radius: 0.2em;
    color: #0C121A;
    background-color: #f4f4f43c;
}

/*album 3*/
.cancionesalb3 {
    margin-top: 0.5em;
    width: 70%;
}

.cancionesalb3:hover {
    width: 70%;
}

.cancion3 h5{
    color: #ffffff77; 
}

.cancion3-nombre{
    margin-right: 1em;
}

.cancion3{/*clase del div*/
    color: #F4F4F4;
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
}

.cancion3:hover{
    border-radius: 0.2em;
    color: #0C121A;
    background-color: #f4f4f43c;
}

.estiloalbum3{
    padding-left: 1em;
}


/*botones musica*/

.icono-musica{
    cursor: pointer;
}

.hide{
    display: none;
}



/* --------------------MEDIA QUERIES---------------------------- */

  /* -------mobile------- */
  @media only screen and (max-width:650px){
    body#hmhas{
        background: #353347;
    }
    body#clancy{
        background: #953931;
    }
    body#wings{
        background: #0C121A;
    }
  }